<div class="d-flex justify-content-center mt-5">
  <div class="box-register p-3 me-3">
    <div class="bg-green2 bg-opacity-75 text-darkblue p-3 rounded-top">
      <div class="row d-flex align-items-center">
        <div class="col text-white">
          <strong><i class="fa-solid fa-door-open fa-2xl"></i>&nbsp;&nbsp;Forgot Your password?</strong>
        </div>
      </div>
    </div>
    <div class="instructions bg-light rounded-bottom p-3 mb-3">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        <div class="input-group mb-3 mt-3">
          <span class="input-group-text" id="basic-addon1"><i class="fas fa-lock"></i></span>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder:"Email" %>
          <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %>
        </div>
        <div class="input-group mb-3 mt-3">
          <span class="input-group-text" id="basic-addon1"><i class="fas fa-lock"></i></span>
          <%= f.password_field :password, autocomplete: "new-password", placeholder:"Password"  %>
        </div>
        <div class="input-group mb-3 mt-3">
          <span class="input-group-text" id="basic-addon1"><i class="fas fa-lock"></i></span>
          <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder:"Retype Password"  %>
        </div>
        <%= f.submit "Register", class:"btn btn-success mt-4" %>
      <% end %>
    </div>
  </div>
</div>
